.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;
}

.products-section h1 {
  grid-column: 1/-1;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.cart-section {
  width: 30%;
}

.product-card button {
  display: flex;
  margin: 0 auto;
  width: 160px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-top: -22px;
  border-radius: 25px;
  background-color: #ffffff;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
}
